input {
  width: 80%;
}

#actionmap {
  position: relative;
  width: 700px;
  height: 700px;
}

#actionmap svg {
  width: 100%;
  height: 100%;
}

.playercircle circle{
  fill: #2299dd;
  r: 14000px;
}

.playercircle text {
  fill: #0f0;
  font-size: 20000px;
  text-anchor: middle;
  alignment-baseline: middle;
  transform: translate(0, 2400px);
}

.dead circle{
  fill: red;
  r: 10000px;
}

.dead text{
  fill: white;
}

.playerTrail{
  fill: none;
  stroke: white;
}

#info-box {
  position: absolute;
  left: 710px;
  top: 0;
}

.redZone{
  stroke:red;
  fill:none;
}

.whiteZone{
  stroke:white;
  fill:none;
}

.blueZone{
  stroke:blue;
  fill:none;
}