input {
  width: 80%;
}

#actionmap {
  position: relative;
  width: 700px;
  height: 700px;
}

#actionmap svg {
  width: 100%;
  height: 100%;
}

.playercircle circle {
  fill: #2299dd;
  r: 7000px;
}

.playercircle text {
  fill: #0f0;
  font-size: 10000px;
  text-anchor: middle;
  alignment-baseline: middle;
  transform: translate(0, 2400px);
}

#info-box {
  position: absolute;
  left: 710px;
  top: 0;
}
