input {
  width: 80%;
}

#erangel_lowres {
  position: relative;
  width: 50%;
}
#erangel_lowres:before {
  content: "";
  padding-top: 100%;
  display: block;
}

#info-box {
  position: absolute;
  left: calc(50% + 10px);
  top: 0;
}
